.footer{
    width: 85%;
    margin-top: 10px;
    bottom: 0;
}

.footer__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__links--item{
    margin: 0 8px 10px 8px;
}

.footer__links--item_link{
    text-decoration: none;
    font-size: 12px;
    color: #8e8e8e;
}

.footer__end{
    display: flex;
    justify-content: center;
    margin: 0.75rem 0;
    align-items: center;
    margin-bottom: 3.75rem;
}

.footer__end--select{}

.footer__end--select_selection{
    border: none;
    font-size: 11px;
    color: #8e8e8e;
}

.footer__end--select_selection-option{}

.footer__copy{
    font-size: 13px;
    margin-left: 1rem;
    color: #8e8e8e;
}

.footer__copy--text{}


@media screen and (min-width: 450px){
    .footer{
        width: calc(100vw - 2rem);
    }

    .footer__links--item{
        margin: 0 8px 8px 8px;
    }
}

@media screen and (min-width: 875px) {
    .footer{
        height: 6.5625rem;
        margin-bottom: 3.25rem;
    }
}