@import url(reset.css);
@import url(login/login.css);
@import url(login/login-logo.css);
@import url(login/login-form.css);
@import url(register/register.css);
@import url(app/app.css);
@import url(footer/footer.css);

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}